 /* Left-to-right animation */
 @keyframes slideIn {
    0% { opacity: 0; transform: translateX(-50px); }
    100% { opacity: 1; transform: translateX(0); }
}

.animate-text h1 span:nth-child(2) {
    display: inline-block;
    animation: slideIn 1.5s ease-out;
}

/* Floating labels */
.form-outline {
    position: relative;
    margin-bottom: 20px;
}

.form-outline input {
    width: 100%;
    padding: 12px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.form-outline label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: gray;
    background: white;
    padding: 0 5px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.form-outline input:focus ~ label,
.form-outline input:not(:placeholder-shown) ~ label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #58D68D;
}

/* Error message */
.error-message {
    color: red;
    font-size: 14px;
    display: none;
    margin-top: 5px;
}

.register-background {
    background-color: hsl(0, 0%, 96%);
}

.register-heading {
    color: #000603;
}

.register-subheading {
    color: #58D68D;
}
.register-description {
    color: hsl(217, 10%, 50.8%);
}


.register-title {
    color: #58D68D;
}


.register-btn {
    background-color: #58D68D;
    color: white;
    width: 50%;
}
.login-link {
    color: #58D68D;
}

